.animate-tv {
  animation: slide-from-left 220s ease-out infinite, spin 80s linear infinite;
}
.animate-film {
  animation: slide-from-right 180s ease-out infinite, spin-backwards 60s linear infinite;
}


@keyframes slide-from-left {
    0% {
     top: 10%;
     left: 10%;
    }
    50%{
      left: 70%;
      top: 10%;
    }
    100% {
        top: 10%;
        left: 10%;
       }
  }
@keyframes slide-from-right {
    0% {
     bottom: 0%;
     right: 10%;
    }
    50%{
      right: 70%;
      bottom: 0%;
    }
    100% {
        bottom: 0%;
        right: 10%;
       }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(720deg);
    }
  }
  @keyframes spin-backwards {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(-720deg);
    }
  }
  
