.animateTV {
  animation: slideFromLeft 220s ease-out infinite, spin 120s linear infinite;
}
.animateFilm {
  animation: slideFromRight 180s ease-out infinite, spinBackwards 100s linear infinite;
}


@keyframes slideFromLeft {
    0% {
     top: 10%;
     left: 10%;
    }
    50%{
      left: 70%;
      top: 10%;
    }
    100% {
        top: 10%;
        left: 10%;
       }
  }
@keyframes slideFromRight {
    0% {
     bottom: 0%;
     right: 10%;
    }
    50%{
      right: 70%;
      bottom: 0%;
    }
    100% {
        bottom: 0%;
        right: 10%;
       }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes spinBackwards {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  
